DATABASE_URL=postgresql://postgres:postgres@127.0.0.1:5433/viewbeforebuy?schema=public
LOVABLE_API_KEY=
PORT=4000
FRONTEND_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:4000

# Redis (étape 3) - laisser vide pour désactiver
REDIS_URL=redis://127.0.0.1:6379

# Stripe (étape 4) - laisser vide pour désactiver les paiements
STRIPE_SECRET_KEY=
STRIPE_CURRENCY=mad
STRIPE_DEPOSIT_PERCENT=10

# Auth (étape 2)
JWT_SECRET=change-me-with-a-long-random-string
JWT_EXPIRES_IN=7d

# OAuth2 Google (optionnel - laisser vide pour désactiver)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:4000/api/auth/google/callback
